tr.example-element-row:hover {
    background: whitesmoke;
    cursor: pointer;
}

.filter-section {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.search-btn {
    margin-right: 8px;
}

.search {
    width: 100%;
}